.news-container {
    height: 60vh;
    background-color:#f3f6f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleNews {
    font-size: 60px;
    margin-bottom: 20px;
}

.descNews {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.inputContainer {
    width: 50%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.inputNews {
    border: none;
    flex: 8;
}

.buttonNews {
    flex: 1;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
}